/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.btn {
    background-color: #0061ff;
    color: white;
    padding: 6px 14px;
}

h2{
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 700;
}

/* header */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
}

.logo-info, .login {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-info img {
    margin-left: 10px;
    margin-right: 15px;
}

header a {
    margin-left: 20px;
    margin-right: 20px;
}

/* main */

/* title-section */
.title-section {
    margin-top: 80px;
    height: 700px;
    background-color: #b4d0e7;
}

.large-container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 70px;
    padding-top: 80px;
    padding-bottom: 40px;
    font-weight: 700;
}

.jumbotron {
    display: flex;
    justify-content: space-between;
}

.free-trial {
    width: 27%;
}

.box-jumbo {
    width: 65%;
}

.free-trial p {
    margin-bottom: 40px;
}

.free-trial div {
    padding-bottom: 15px;
}

.arrow i {
    font-size: 25px;
    margin-top: 20px;
}

.box-jumbo img {
    width: 100%;
}

/* dropbox-plan */

.small-container {
    width: 60%;
    margin: 0 auto;
}

.dropbox-plan h2 {
    padding-top: 150px;
    padding-bottom: 50px;
    
}

.circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.full {
    border: 4px solid #0061ff;
}

.empty {
    border: 1px solid lightgray;
}

.options {
    display: flex;
    padding-bottom: 30px;
}

.options span {
    margin-left: 2px;
    margin-right: 15px;
}

/* columns */
.columns {
    display: flex;
    justify-content: space-between;
}
.col {
    width: calc( 90% / 3 );
    border: 1px solid lightgray;
    height: 750px;
    margin-bottom: 30px;
}

.top-col {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.top-col div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-container {
    width: 84%;
    margin: 0 auto;
}

.col-container h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.col-price {
    font-weight: 700;
    padding-bottom: 5px;
}

.month {
    color: #b4bcc2;
    padding-bottom: 30px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 12px;
    padding-bottom: 15px;
}

.big-button {
    background-color: #0061ff;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.buy {
    text-decoration: underline;
    color: #0464ff;
}

.line {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 40px;
}

.col-container h4 {
    padding-bottom: 15px;
}

.list i {
    color: #0061ff;
    margin-right: 2px;
}

/* enterprise-col */

.enterprise-col {
    border: 1px solid lightgray;
    height: 200px;
    margin-bottom: 100px;
}

.enterprise-container {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.enterprise-text {
    width: 70%;
}

.enterprise-contact {
    width: 30%;
}

.enterprise-text h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.enterprise-text h4 {
    padding-bottom: 15px;
}

/* meeting */

.meeting-box, .meeting-text {
    width: 46%;
}

.meeting-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.meeting-box img {
    width: 100%;
}

.meeting-text h3 {
    padding-top: 45px;
    padding-bottom: 20px;
}

.btn-white {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.meeting-text div {
    margin-bottom: 15px;
}

/* business-columns */

.business-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.business-col {
    width: calc(90% / 3);
    margin-top: 30px;
    margin-bottom: 50px;
}

.business-col img {
    width: 100%;
}

.business-col h3 {
    margin-bottom: 15px;
}

.business-col span {
    text-decoration: underline;
}

/* teams */
.team {
    width: 50%;
    margin-top: 80px;
    margin-bottom: 20px;
}

/* colored-box */
.colored-box {
    margin-top: 40px;
    display: flex;
    background-color: aliceblue;
}

.box-left, .box-center, .box-right {
    border: 1px solid black;
    width: calc(100% / 3);
}

.box-left, .box-right {
    display: flex;
    flex-wrap: wrap;
}

.minibox {
    width: 50%;
    background-color: antiquewhite;
    border: 1px solid black;
    height: 15vw;
}
