/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.btn {
    background-color: #0061ff;
    color: white;
    padding: 6px 14px;
}

/* header */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
}

.logo-info, .login {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-info img {
    margin-left: 10px;
    margin-right: 15px;
}

header a {
    margin-left: 20px;
    margin-right: 20px;
}

/* main */

/* title-section */
.title-section {
    margin-top: 80px;
    height: 700px;
    background-color: #b4d0e7;
}

.large-container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 70px;
    padding-top: 80px;
    padding-bottom: 40px;
    font-weight: 700;
}

.box {
    background-color: pink;
    border: 1px solid black;
}

.jumbotron {
    display: flex;
}

.free-trial {
    width: 30%;
}

.box {
    width: 70%;
}

.free-trial p {
    margin-bottom: 40px;
}

.free-trial div {
    padding-bottom: 15px;
}

.arrow i {
    font-size: 25px;
    margin-top: 20px;
}